*{
   margin: 0;
   padding: 0;
}

body{
   font-family: monospace;
}

.container{
   overflow: hidden;
}

/*===== HEADER =====*/
.header{
   position: fixed;
   top: 0px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 3rem;
   padding: 0 1.5rem;
   box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
   background-color: rgb(87, 134, 221);
   z-index: 1;
}

.header__logo-link{
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bolder;
   font-size: 1rem;
   color: cornsilk;
}

.header__input{
   background-color: rgb(118, 160, 240);
   color: cornsilk;
   border: none;
   outline: none;
   padding: .3rem .5rem .3rem 1.8rem;
   border-radius: .8rem;
   width: 20rem;
   font-size: .8rem;
   transition: .4s;
}

.header__input::placeholder{
   color: rgb(157, 191, 255);
}

.header__icon{
   position: relative;
   color: rgb(157, 191, 255);
   right: 20rem;
   top: .1rem;
   font-size: .8rem;
   transition: .4s;
}

.header__toggle{
   cursor: pointer;
   margin-right: 3rem;
}

/*===== NAV =====*/
.nav{
   background-color: cornflowerblue;
   color: cornsilk;
   box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
   width: 20rem;
   height: calc(100% - 3rem);
   position: fixed;
   left: 0rem;
   top: 3rem;
}

.nav__menu{
   padding: 1.5rem;
}

.nav__subtitle{
   margin-top: 1rem;
   font-size: .8rem;
   font-weight: normal;
}

.nav__list{
   list-style: none;
}

.nav__link{
   color: cornsilk;
   text-decoration: none;
   padding: 1rem;
   display: flex;
   align-items: center;
   text-transform: uppercase;
}

.nav__icon{
   margin-right: .5rem;
}

.nav__icon-dropdown::after{
   content: "\f107";
   font-weight: 900;
   font-family: "Font Awesome 5 Free";
   margin-left: 2rem;
   transition: .4s;
   transform: rotate(90deg);
}

.nav__icon-rotate::after{
   transform: rotate(0deg);
   transition: .4s;
}

/* Nav Dropdwon */
.nav__dropdown-hide{
   display: none;
}

.nav__dropdown-list{
   list-style: none;
}

.nav__dropdown-link{
   color: cornsilk;
   text-decoration: none;
   padding: 1rem 2.7rem;
   display: block;
   text-transform: uppercase;
}

/* Show Nav*/
.nav__show{
   left: -20rem;
}

/*===== CONTENT =====*/
.main{
   position: relative;
   left: 20rem;
   top: 3rem;
   padding: 2rem;
   background-color: #f0f6ff;
}
.main__move{
   left: 0;
}

.main__container{
   width: calc(100% - 20rem);
   min-height: calc(100vh - 6rem);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.main__container-move{
   width: 100%;
   margin: 0 auto;
}

.main__title{
   color: cornflowerblue;
}

.main__enuciado {
   background-color: ghostwhite;
   color: rgb(80, 123, 202);
   width: 650px;
   height: 500px;
   border-radius: 15px 0 0 15px;
   padding: 50px;
   border-right: 1px solid rgb(220, 220, 255);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.title {
   margin-bottom: 30px;
   font-size: 2em;
}

.main__enuciado p {
   font-size: 1.2em;
}

.content-table {
   background-color: rgb(211, 227, 255);
   border-collapse: collapse;
   margin: 30px 0;
   font-size: 1.1em;
   min-width: 100%;
   border-radius: 8px 8px 0 0;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
   background-color: rgb(128, 165, 233);
   color: #eee;
   text-align: left;
}

.content-table th,
.content-table td {
   padding: 12px 15px;
}

.content-table tbody tr {
   border-bottom: 1px solid rgb(243, 246, 250);
}

.content-table tbody tr:nth-last-of-type(even) {
   background-color: rgb(228, 237, 255);
}

.content-table tbody tr:last-of-type {
   border-bottom: 2px solid rgb(128, 165, 233);
}

.main__resolucao{
   background-color: ghostwhite;
   color: rgb(80, 123, 202);
   width: 300px;
   height: 500px;
   border-radius: 0 15px 15px 0;
   padding: 50px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h2 {
   text-align: center;
}

.dados {
   margin: 60px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.dados label {
   font-size: 1.1em;
   margin-right: 5px;
}

.dados input {
   width: 100px;
   background-color: rgb(211, 227, 255);
   padding: 5px;
   border: none;
   outline-color: rgb(80, 123, 202);
   font-size: 1.1em;
   color: rgb(80, 123, 202);
}

.btn {
   display: block;
   background-color: cornflowerblue;
   color: #eee;
   font-size: 1.25em;
   padding: 10px;
   margin: 0 auto;
   border: none;
   outline: none;
   border-radius: 5px;
}

.btn:hover {
   background-color: rgb(131, 172, 248);
}

.resultado {
   padding: 30px;
   width: 100%;
   margin-top: 60px;
   border-top: 1px solid #ccc;
}

.resultado p {
   font-size: 1.25em;
   font-weight: bold;
   margin-bottom: 10px;
}

#result {
   font-size: 1.25em;
   font-style: italic;
}

/* ========== MEDIA QUERIES ==========*/
@media screen and (max-width: 320px){
   .header__search{
      display: none;
   }

   .header__logo-link{
      font-size: 1rem;
   }

   .nav{
      width: 17rem;
   }
} 

@media screen and (max-width: 768px){
   .header__logo-link{
      font-size: .8rem;
   }

   .header__input{
      width: 8rem;
      transition: .4s;
   }

   .header__icon{
      right: 8rem;
      transition: .4s;
   }
}

@media screen and (max-width: 1535px){
   .main__enuciado {
      border-radius: 15px;
      margin: 2rem 0;
   }
   
   .main__resolucao{
      border-radius: 15px;
      margin-bottom: 3rem;
   } 
}

@media screen and (max-width: 500px){
   .main__enuciado {
      height: 800px;
   }
}