body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: cornflowerblue;
}

.container {
   width: 960px;
   margin: 70px auto;
   text-align: center;
}

h1 {
   text-align: center;
   color: rgb(241, 241, 241);
}

.container_dados {
   width: 400px;
   height: 400px;
   margin: 50px auto;
   padding: 20px;
   text-align: center;
   background-color: rgb(241, 241, 241);
   color: cornflowerblue;
   border-radius: 15px;
   box-shadow:  2px 2px 20px 5px rgba(0, 0, 0, 0.13);
}

h2 {
   text-align: center;
}

.entrada {
   padding: 20px;
   text-align: center;
}

input {
   width: 80px;
   padding: 10px;
   font-size: 18px;
   background-color: rgb(207, 217, 236);
   color: rgb(72, 109, 177);
   outline-color: rgb(167, 190, 233);
   border: none;
   border: none;
   border-radius: 5px;
}

button {
   width: 150px;
   padding: 10px;
   font-size: 18px;
   background-color: cornflowerblue;
   color: rgb(241, 241, 241);
   border: none;
   outline:none;
   border-radius: 5px;
}

button:hover {
   background-color: rgb(92, 134, 212);
}

h3 {
   text-align: left;
   border-top: 2px solid cornflowerblue;
   padding-top: 20px;
}

#resultado {
   font-style: italic;
   font-size: 18px;
   text-align: left;
}

.return {
   padding: 10px;
   text-decoration: none;
   color: rgb(241, 241, 241);
   background-color: rgb(74, 117, 197);
   border-radius: 5px;
}

.return:hover {
   background-color: rgb(92, 134, 212);
   border-radius: 5px;
}